<!DOCTYPE html>
<html>
<head>
  <title>Tascare</title>
  <link rel="stylesheet" href="/assets/min/<%= controller.controller_name %>.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= yield :vendor_script %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "min/#{controller.controller_name}" %>

</body>
</html>
