<%= render 'layouts/navi' %>

<div class="content">
  <section class="user__outer">
    <img class="user__image" src="http://www.earthrunclub.net/kawasaki/img/2020logo2.jpg"></img>
    <h1 class="user__name">ユーザー名</h1>
    <p class="user__content">ユーザー概要を表示します。</p>
  </section>
  <section class="user-task__outer">
    <ul class="user-task__list">
      <h3 class="list__title">プロジェクト</h3>
      <% 1..10.times do |i| %>
      <li class="list__item">
        <p class="item__info">2015/01/01&nbsp;<a href="/users" class="info__link">山田太郎</a>さんがタスクを登録しました。</p>
        <p class="item__title"><a href="/projects" class="title__link">プロジェクトタイトル<%= i %></a></p>
      </li>
      <% end %>
    </ul>
    <% ["作業中", "完了"].each do |title| %>
    <ul class="user-task__list">
      <h3 class="list__title"><%= title %></h3>
      <% 1..10.times do |i| %>
      <li class="list__item">
        <p class="item__info">2015/01/01&nbsp;<a href="/users" class="info__link">山田太郎</a>さんがタスクを登録しました。</p>
        <p class="item__title"><a href="/tasks" class="title__link"><%= title %>タイトル<%= i %></a></p>
      </li>
      <% end %>
    </ul>
    <% end %>
  </section>
</div>
